body { 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1{
  margin: 0;
  margin-bottom: 0.5rem;
}
.input{
  border: 1px solid #ccc;
  border-radius: .3em;
  padding: 10px;
  width: 7em;
}
select{ 
  margin-left: 10px;
  height: 35px;
  width: 50px;
  padding: 5px;
}
.equal{
  font-weight: bold;
  font-size: 1.5rem;
}



